{% extends "base.html" %}
{% block check %}
<body onload=testFunction()>
{%endblock%}

{% block load %}
<div class="row text-center p-2">
  <h2>Loading</h2>
</div>

<div class="row p-2">
  <div class="tenor-gif-embed" data-postid="8302018" data-share-method="host" data-aspect-ratio="1.01195" data-width="100%"><a href="https://tenor.com/view/seal-spinning-around-looking-around-mondays-be-like-gif-8302018">Seal Spinning Around GIF</a>from <a href="https://tenor.com/search/seal-gifs">Seal GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
{% endblock %}
 