{% extends "base.html" %}
{% block check %}
<body onload=writeTable()>
{%endblock%}

{% block load %}
<div class="row text-center p-2">
  <h2>Done Loading</h2>
</div>

<label for="customRange1" class="form-label" id="customRange1l">Example Range 1: 0</label>
<input type="range" min="-10" max="10" value="0" step="0.1" class="form-range" id="customRange1" name="Example Range 1">

<label for="customRange2" class="form-label" id="customRange2l">Example Range 2: 0</label>
<input type="range" min="-10" max="10" value="0" step="0.1" class="form-range" id="customRange2" name="Example Range 2">

<label for="customRange3" class="form-label" id="customRange3l">Example Range 3: 0</label>
<input type="range" min="-10" max="10" value="0" step="0.1" class="form-range" id="customRange3" name="Example Range 3">

<div class="row text-center p-2">
  <p><b>I belong to:</b> Cluster <span id="dynamic">?</span></p>
  <p><b>My sum is:</b> Sum <span id="dynamic2">0</span></p>
</div>

<div class="row text-center p-2">
  <h2>Reference Table</h2>
</div>

<div class="row text-left p-2">
  <table class="table-light">
    <thead>
      <tr>
        <th scope="col">X1</th>
        <th scope="col">X2</th>
        <th scope="col">X3</th>
        <th scope="col">y</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %} 
